<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Maestros Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="../../assets/icon/C.PNG" alt="" />
    <ion-card-header>
      <ion-card-title>Welcome to Maestros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Need Some professional help. Maestros is just the right place to find some good assistance</p>
    </ion-card-content>
  </ion-card>

</ion-content>